@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to KavaPoint project page</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Please take a cup of coffee</h2>
        <div class="fa fa-coffee"></div>
    </div>

</div>