@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to KavaPoint project page</h1>

<div class="row">
    <div class="col-md-4">
        <h4>Please take a cup of tasty coffee</h4>
        <i class="fa fa-coffee" style="font-size: 30px;"></i>
    </div>

</div>